if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[spsListarProdutosEmEstoque]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].spsListarProdutosEmEstoque
GO
/****** Object:  StoredProcedure [dbo].[spsListarProdutosEmEstoque]    Script Date: 10/10/2010 21:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spsListarProdutosEmEstoque]
	@Tipo INT,
	@Nome VARCHAR(100)
	
AS
BEGIN
		
	IF @Tipo = 0 AND @Nome = ''
	BEGIN
	SELECT 
	p.Id,
	p.IdGrupo,	
	p.IdFinanceiro,
	p.Nome,
	p.EstoqueMin,
	p.EstoqueMax,
	p.Descricao,
	p.PrecoCusto,
	p.DataValidade,
	p.PrecoVenda,
	g.Nome AS NomeGrupo
	FROM dbo.Produto p INNER JOIN dbo.Grupo g ON p.IdGrupo = g.Id	
	INNER JOIN EstoqueProduto ep ON p.Id = ep.IdProduto
	INNER JOIN Estoque e ON ep.IdEstoque = e.Id
	WHERE e.Quantidade > 0
	ORDER BY g.Nome
	END
	
	IF @Tipo <> 0 AND @Nome = ''
	BEGIN
	SELECT 
	p.Id,
	p.IdGrupo,	
	p.IdFinanceiro,
	p.Nome,
	p.EstoqueMin,
	p.EstoqueMax,
	p.Descricao,
	p.PrecoCusto,
	p.DataValidade,
	p.PrecoVenda,
	g.Nome AS NomeGrupo
	FROM dbo.Produto p INNER JOIN dbo.Grupo g ON p.IdGrupo = g.Id	
	INNER JOIN EstoqueProduto ep ON p.Id = ep.IdProduto
	INNER JOIN Estoque e ON ep.IdEstoque = e.Id
	WHERE e.Quantidade > 0 AND p.IdGrupo = @Tipo 
	END
	
	IF @Tipo <> 0 AND @Nome <> ''
	BEGIN
	SELECT 
	p.Id,
	p.IdGrupo,	
	p.IdFinanceiro,
	p.Nome,
	p.EstoqueMin,
	p.EstoqueMax,
	p.Descricao,
	p.PrecoCusto,
	p.DataValidade,
	p.PrecoVenda,
	g.Nome AS NomeGrupo
	FROM dbo.Produto p INNER JOIN dbo.Grupo g ON p.IdGrupo = g.Id	
	INNER JOIN EstoqueProduto ep ON p.Id = ep.IdProduto
	INNER JOIN Estoque e ON ep.IdEstoque = e.Id
	WHERE e.Quantidade > 0 AND p.IdGrupo = @Tipo AND p.Nome LIKE '%'+@Nome+'%'
	END
	
	IF @Tipo = 0 AND @Nome <> ''
	BEGIN
	SELECT 
	p.Id,
	p.IdGrupo,	
	p.IdFinanceiro,
	p.Nome,
	p.EstoqueMin,
	p.EstoqueMax,
	p.Descricao,
	p.PrecoCusto,
	p.DataValidade,
	p.PrecoVenda,
	g.Nome AS NomeGrupo
	FROM dbo.Produto p INNER JOIN dbo.Grupo g ON p.IdGrupo = g.Id	
	INNER JOIN EstoqueProduto ep ON p.Id = ep.IdProduto
	INNER JOIN Estoque e ON ep.IdEstoque = e.Id
	WHERE e.Quantidade > 0 AND p.Nome LIKE '%'+@Nome+'%'
	END	
END
